USE [master]
GO
/****** Object:  Database [midtermAgain]    Script Date: 2022/10/30 下午 02:22:25 ******/
CREATE DATABASE [midtermAgain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'midtermAgain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\midtermAgain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'midtermAgain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\midtermAgain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [midtermAgain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [midtermAgain]
GO
/****** Object:  Table [dbo].[T_member]    Script Date: 2022/10/30 下午 02:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_member](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Permission] [char](1) NULL,
	[Verification] [char](1) NULL,
	[Gender] [char](1) NULL,
	[Birth] [date] NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_member] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_member] ADD  CONSTRAINT [DF_Table_1_permission]  DEFAULT ((0)) FOR [Permission]
GO
ALTER TABLE [dbo].[T_member] ADD  CONSTRAINT [DF_Table_1_verification]  DEFAULT ('N') FOR [Verification]
GO
ALTER TABLE [dbo].[T_member] ADD  CONSTRAINT [DF_Table_1_gender]  DEFAULT ((1)) FOR [Gender]
GO
USE [master]
GO
